*{
	padding: 0px;
	margin: 0px;
}
ul,li,ol{
    list-style:none;
}
a{
    text-decoration:none;
}
.head{
	width: 100%;
	height: 398px;
	background:url(../img/pjd.png) no-repeat center center;
	float: left;
}
.content{
	width: 1200px;
	height: 3018px;
	margin: 0 auto;
}
.contentone{
	height: 760px;
	width: 1200px;
	margin: 0 auto;
	float: left;
	position: relative;
}
.contentone p{
	font-style: "微软雅黑";
	font-size: 36px;
}
.contentone h1{
	font-size: 18px;
	font-style: "微软雅黑";
}
.contentone ul{
	height: 570px;
	width: 232px;
	text-align: center;
	float: left;
	background-color: #ffffff;
	font-size: 22px;
	font-style: "微软雅黑";
}
.contentone li{
	height: 45px;
	border:1px solid #b5b5b5;
	border-top: none;
	padding-top: 35px;
}
.block{
	width: 366px;
	height: 75px;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
	z-index: -2;
	background-color: #ffffff;
}
.half{
	z-index: -3;
	margin:0 auto;
	padding-left: 360px;
	position: absolute;
	top: 90px;
}
.main{
	height: 570px;
	width: 1200px;
	margin-top: 60px;
	background:url(../img/back2.png) no-repeat center center;
}
#extra{
	color: #1c5080;
	border-top:1px solid #b5b5b5;
}
.nav{
	float: left;
	height: 168px;
	width: 683px;
	background-color: #ffffff;
	display: inline-block;
	border:1px solid #b5b5b5;
}
.contentone h2{
	padding-left: 40px;
	padding-right: 50px;
	padding-top: 44px;
	text-align: inline-block;
	font-size: 20px;
	display: inline-block;
	font-style: "新宋体";
}
#extra1{
	color: #1c5080;
}
.contenttwo{
	height: 945px;
	width: 1200px;
	margin: 0 auto;
	float: left;
	position: relative;
}
.contenttwo p{
	font-style: "微软雅黑";
	font-size: 36px;
}
.contenttwo h1{
	font-size: 18px;
	font-style: "微软雅黑";
}
.contenttwo ul{
	width: 800px;
	height: 57px;
	font-size: 26px;
	font-style: "微软雅黑";
	display: inline-block;
	padding-left: 200px;
	padding-top: 70px;
}
.contenttwo li{
	padding-left: 80px;
	padding-top: 10px;
	display: inline-block;
}
.main2{
	width: 1200px;
	height: 678px;
	float: left;
	margin-top: 30px;
}
.c1{
	width: 598px;
	height: 355px;
	float: left;
	background:url(../img/team1.png) no-repeat center center;
}
.c2{
	width: 598px;
	height: 355px;
	float: right;
	background:url(../img/team2.png) no-repeat center center;
}
.c3{
	width: 395px;
	height: 316px;
	margin-top: 5px;
	background:url(../img/free1.png);
	float: left;
}
.c4{
	width: 395px;
	height: 316px;
	margin-top: 5px;
	background:url(../img/free2.png);
	float: left;
	margin-left: 8px;
}
.c5{
	width: 395px;
	height: 316px;
	margin-top: 5px;
	background:url(../img/free3.png);
	float: right;
}
.c6{
	height: 50px;
	width: 598px;
	background-color: rgba(0,0,0,0.6);
	margin-top: 305px;
}
.contenttwo h2{
	font-size: 20px;
	font-style: "微软雅黑";
	padding-top: 2px;
	padding-left: 45px;
	color: #ffffff;
}
.c7{
	width: 395px;
	height: 52px;
	background-color: rgba(0,0,0,0.6);
	margin-top: 265px;
}
.contenttwo h3{
	font-size: 20px;
	font-style: "微软雅黑";
	padding-top: 2px;
	padding-left: 20px;
	color: #ffffff;
}
.contentthree{
	height: 1214px;
	width: 1200px;
	margin:0 auto;
	float: left;
	position: relative;
}
.contentthree p{
	font-style: "微软雅黑";
	font-size: 36px;
}
.contentthree h1{
	font-size: 18px;
	font-style: "微软雅黑";
}
.main3{
	height: 1024px;
	width: 1200px;
	margin: 0 auto;
	float: left;
	margin-top: 80px;
}
.d1{
	width: 587px;
	height: 491px;
	float: left;
	background:url(../img/hong.png) no-repeat center center;
}
.d2{
	height: 105px;
	width: 587px;
	background-color: black;
	float: left;
	margin-top: 384px;
}
.d3{
	font-style: "微软雅黑";
	font-size: 20px;
	margin-left: 36px;
	margin-top: 19px;
	color: #ffffff;
}
.d4{
	font-style: "微软雅黑";
	font-size: 20px;
	margin-left: 36px;
	margin-top: 10px;
	color: #ffffff;
}
.d5{
	width: 609px;
	height: 292px;
	float: right;
	background:url(../img/sea.png) no-repeat center center;
}
.d6{
	height: 86px;
	width: 609px;
	background-color: rgba(0,0,0,0.6);
	margin-top: 206px;
}
.d7{
	padding-left: 23px;
	padding-top: 12px;
	font-size: 20px;
	font-style: "微软雅黑";
	color: #ffffff;
}
.d8{
	padding-left: 23px;
	padding-top: 2px;
	font-size: 20px;
	font-style: "微软雅黑";
	color: #ffffff;
}
.d9{
	width: 609px;
	height: 356px;
	float: right;
	background:url(../img/Japan.png) no-repeat center center;
}
.d10{
	height: 86px;
	width: 609px;
	background-color: rgba(0,0,0,0.6);
	margin-top: 269px;
}
.d11{
	width: 609px;
	height: 364px;
	float: right;
	background:url(../img/lanka.png) no-repeat center center;
}
.d12{
	height: 86px;
	width: 609px;
	background-color: rgba(0,0,0,0.6);
	margin-top: 278px;
}
.d13{
	width: 587px;
	height: 525px;
	float: left;
	background:url(../img/England.png) no-repeat center center;
	margin-top: -158px;
}
.d14{
	width: 587px;
	height: 90px;
	background-color: black;
	margin-top: 432px;
}
.d15{
	font-style: "微软雅黑";
	font-size: 20px;
	margin-left: 36px;
	padding-top: 15px;
	color: #ffffff;
}